


    /* La Partie CSS */
    body{
    font-family: 'SF pro textS';
    }

    p {
        font-size: 10px;
    }
   
   
    .container {
        display: flex;
    }

    .block {
        flex: 1;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .blockBlack {
        flex: 1;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        text-align: center;
        background-color: black;
    }

    .block5centre {
        flex: 1;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        text-align: center;
    }

    .content-container {
        text-align: center;
        display: flex;
        flex-direction: column; /* Empêche que les éléments s'étirent horizontalement */
        align-items: center; /* Alignement centré pour les éléments internes */
    }

    .Footeur {
            color: #fff;
            text-align: center;
            padding: 20px;
            bottom: 0;
            width: 100%;
            
    }
    .text-block {
            width: 100%;
           color: gray;
            text-align: justify; /* Alignement du texte */
            padding: 20px;
            font-size: 10px;
    }


    /* Caroussel Test*/
    
        .carousel-container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            position: relative;
        }

        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }
    
